.formTopDiv {
  z-index: 0;
  margin-top: 30vh;
}

.title {
  display: flex;
  justify-content: center;
}

.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  padding: 4px;
  border: 2px;
  border-style: solid;
  border-radius: 8px;
}

.formError {
  flex-direction: column;
  color: red;
  padding: 2px;
}

.formInput {
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 2px;
}

.inputBox {
  padding: 2px;
  margin-left: 5px;
  border-radius: 2px;
}

.inputSmall {
  width: 96%;
}

.formLabel {
  padding: 3px;
}

.formSubmit {
  width: 50vw;
  margin: 5px;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 3rem;
  }

  .formDiv {
    flex-direction: column;
    font-size: 2rem;
  }

  .largeWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 64px;
  }

  .formInput {
    width: 95%;
  }

  .formInputLarge {
    display: flex;
    flex-direction: column;
    width: 33%;
  }

  .formSubmitWrapper {
    display: flex;
    justify-content: center;
  }

  .formSubmit {
    width: 80vw;
    margin: 5px;
    font-size: 2rem;
  }
}
