/* Menu Styling */

.menu {
  position: absolute;
  top: 0;
  background-color: floralwhite;
}

.hamburgerBar {
  display: flex;
  width: 100vw;
  height: 5rem;
}

.menuTitle {
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.activeMenu {
  display: flex;
  height: 86vh;
  flex-direction: column;
  place-items: center;
}

.hamburgerImage {
  display: flex;
  height: 4.5rem;
  width: 4.5rem;
}

@media screen and (max-width: 720px) {
  .activeMenu {
    height: 92vh;
  }
}

@media screen and (max-width: 1024px) {
  .hamburgerBar {
    height: 10rem;
  }

  .menuTitle {
    font-size: 3rem;
    padding: 5rem;
  }

  .hamburgerImage {
    display: flex;
    padding: 2px;
    height: 9rem;
    width: 9rem;
  }
}
